@import 'colors';
@import 'fonts';

.index-title {
  text-transform: uppercase;
  margin: 1.3rem;
}

.button {
  font-family: $button-font-stack;
  font-family: "knockout" !important;
  display: inline-block;
  color: $goodgym-white !important;
  background: $goodgym-black !important;
  box-shadow: -5px 5px $goodgym-red;
  border: none;
  border-radius: 0px !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  padding: 0.25rem !important;
}
