@import 'general';
@import 'colors';

.description-container {
  width : 80%;
  text-align: center;
  margin: 0 auto;
  color: $goodgym-light-black;
  p {
    width: 100%;
  }
}

.get-started-button {
  @extend .button;
    margin: 1rem;
}

._yoti-verify-button img {
  display: none !important;
}
