@import 'fonts';
@import 'colors';
@import 'header';
@import 'mixins';
@import 'location';

html {
  font-size: 20px;
}

body {
  background-color: $goodgym-white;
  color: $goodgym-red;
  font-family: $body-font-stack;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

body h1, h2, h3, h4, h5 {
  font-family: $header-font-stack;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.75rem;
}

.button {
  font-family: $button-font-stack;
  font-family: "knockout";
  display: inline-block;
  color: $goodgym-white;
  background: $goodgym-black;
  box-shadow: -5px 5px $goodgym-red;
  border: none;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0.75rem;
  padding: 0.25rem;
}

input {
  color: $goodgym-red;
  border: 2px solid $goodgym-red;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  display: inline-block;
  clear: both;
  @include placeholder {
    color: $goodgym-red;
    opacity: 0.5;
  }
}
