@import 'fonts';
@import 'colors';

body {
  background-color: $goodgym-red;
  color: $goodgym-white;
  font-family: $body-font-stack;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font-stack;
}

button {
  font-family: $button-font-stack;
}
