<h1 class="index-title">Get your first mission</h1>
<div class="description-container">
  <p>It's great that you want to join our community of runners who get fit while doing good.</p>
</div>
<div class="description-container">
  <p>Your first mission run, if you choose to accept it, is to take your proof of identity to one of our meeting points.</p>
</div>
<div class="description-container">
  <p>When you get there, one of our team members will help you with your DBS check, so you can start taking on real-life missions.</p>
</div>
<a href="/postcode" class="get-started-button">Get started</a>
