@font-face {
  font-family: knockout;
  src: url("/fonts/knockout-htf29-juniorliteweight.woff") format("woff"), url("/fonts/knockout-htf29-juniorliteweight.eot") format("eot"), url("/fonts/knockout-htf29-juniorliteweight.ttf") format("ttf"), url("/fonts/knockout-htf29-juniorliteweight.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: lft-etica;
  src: url("/fonts/lft_etica_webfont.eot");
  src: url("/fonts/lft_etica_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/lft_etica_webfont.woff") format("woff"), url("/fonts/lft_etica_webfont.ttf") format("truetype"), url("/fonts/lft_etica_webfont.svg#lft_etica") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("/fonts/adellesans_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/adellesans_webfont.woff") format("woff"), url("/fonts/adellesans_webfont.ttf") format("truetype"), url("/fonts/adellesans_webfont.svg#adellesans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("adellesans-bold-webfont.woff2") format("woff2"), url("adellesans-bold-webfont.woff") format("woff"), url("adellesans-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
header {
  background-color: #ED1C24;
  height: 60px;
  width: 100%;
  text-align: center; }

.header-logo {
  margin: 9px;
  height: 40px; }

.back-button {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 30px;
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #ED1C24;
  opacity: 0.5; }

:-moz-placeholder {
  color: #ED1C24;
  opacity: 0.5; }

::-moz-placeholder {
  color: #ED1C24;
  opacity: 0.5; }

:-ms-input-placeholder {
  color: #ED1C24;
  opacity: 0.5; }

@font-face {
  font-family: knockout;
  src: url("/fonts/knockout-htf29-juniorliteweight.woff") format("woff"), url("/fonts/knockout-htf29-juniorliteweight.eot") format("eot"), url("/fonts/knockout-htf29-juniorliteweight.ttf") format("ttf"), url("/fonts/knockout-htf29-juniorliteweight.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: lft-etica;
  src: url("/fonts/lft_etica_webfont.eot");
  src: url("/fonts/lft_etica_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/lft_etica_webfont.woff") format("woff"), url("/fonts/lft_etica_webfont.ttf") format("truetype"), url("/fonts/lft_etica_webfont.svg#lft_etica") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("/fonts/adellesans_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/adellesans_webfont.woff") format("woff"), url("/fonts/adellesans_webfont.ttf") format("truetype"), url("/fonts/adellesans_webfont.svg#adellesans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("adellesans-bold-webfont.woff2") format("woff2"), url("adellesans-bold-webfont.woff") format("woff"), url("adellesans-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
.index-title {
  text-transform: uppercase;
  margin: 1.3rem; }

.button, .get-started-button, .find-location-button, .choose-location-button, .times-button {
  font-family: knockout, sans-serif;
  font-family: "knockout" !important;
  display: inline-block;
  color: #FFFFFF !important;
  background: #000000 !important;
  box-shadow: -5px 5px #ED1C24;
  border: none;
  border-radius: 0px !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  padding: 0.25rem !important; }

@font-face {
  font-family: knockout;
  src: url("/fonts/knockout-htf29-juniorliteweight.woff") format("woff"), url("/fonts/knockout-htf29-juniorliteweight.eot") format("eot"), url("/fonts/knockout-htf29-juniorliteweight.ttf") format("ttf"), url("/fonts/knockout-htf29-juniorliteweight.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: lft-etica;
  src: url("/fonts/lft_etica_webfont.eot");
  src: url("/fonts/lft_etica_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/lft_etica_webfont.woff") format("woff"), url("/fonts/lft_etica_webfont.ttf") format("truetype"), url("/fonts/lft_etica_webfont.svg#lft_etica") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("/fonts/adellesans_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/adellesans_webfont.woff") format("woff"), url("/fonts/adellesans_webfont.ttf") format("truetype"), url("/fonts/adellesans_webfont.svg#adellesans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("adellesans-bold-webfont.woff2") format("woff2"), url("adellesans-bold-webfont.woff") format("woff"), url("adellesans-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
.index-title {
  text-transform: uppercase;
  margin: 1.3rem; }

.button, .get-started-button, .find-location-button, .choose-location-button, .times-button {
  font-family: knockout, sans-serif;
  font-family: "knockout" !important;
  display: inline-block;
  color: #FFFFFF !important;
  background: #000000 !important;
  box-shadow: -5px 5px #ED1C24;
  border: none;
  border-radius: 0px !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  padding: 0.25rem !important; }

.description-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #373a3c; }
  .description-container p {
    width: 100%; }

.get-started-button {
  margin: 1rem; }

._yoti-verify-button img {
  display: none !important; }

@font-face {
  font-family: knockout;
  src: url("/fonts/knockout-htf29-juniorliteweight.woff") format("woff"), url("/fonts/knockout-htf29-juniorliteweight.eot") format("eot"), url("/fonts/knockout-htf29-juniorliteweight.ttf") format("ttf"), url("/fonts/knockout-htf29-juniorliteweight.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: lft-etica;
  src: url("/fonts/lft_etica_webfont.eot");
  src: url("/fonts/lft_etica_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/lft_etica_webfont.woff") format("woff"), url("/fonts/lft_etica_webfont.ttf") format("truetype"), url("/fonts/lft_etica_webfont.svg#lft_etica") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("/fonts/adellesans_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/adellesans_webfont.woff") format("woff"), url("/fonts/adellesans_webfont.ttf") format("truetype"), url("/fonts/adellesans_webfont.svg#adellesans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("adellesans-bold-webfont.woff2") format("woff2"), url("adellesans-bold-webfont.woff") format("woff"), url("adellesans-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
.index-title {
  text-transform: uppercase;
  margin: 1.3rem; }

.button, .get-started-button, .find-location-button, .choose-location-button, .times-button {
  font-family: knockout, sans-serif;
  font-family: "knockout" !important;
  display: inline-block;
  color: #FFFFFF !important;
  background: #000000 !important;
  box-shadow: -5px 5px #ED1C24;
  border: none;
  border-radius: 0px !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  padding: 0.25rem !important; }

.location-description-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #373a3c; }
  .location-description-container p {
    width: 100%;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem; }

.find-location-button {
  margin-top: 3rem; }

@font-face {
  font-family: knockout;
  src: url("/fonts/knockout-htf29-juniorliteweight.woff") format("woff"), url("/fonts/knockout-htf29-juniorliteweight.eot") format("eot"), url("/fonts/knockout-htf29-juniorliteweight.ttf") format("ttf"), url("/fonts/knockout-htf29-juniorliteweight.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: lft-etica;
  src: url("/fonts/lft_etica_webfont.eot");
  src: url("/fonts/lft_etica_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/lft_etica_webfont.woff") format("woff"), url("/fonts/lft_etica_webfont.ttf") format("truetype"), url("/fonts/lft_etica_webfont.svg#lft_etica") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("/fonts/adellesans_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/adellesans_webfont.woff") format("woff"), url("/fonts/adellesans_webfont.ttf") format("truetype"), url("/fonts/adellesans_webfont.svg#adellesans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("adellesans-bold-webfont.woff2") format("woff2"), url("adellesans-bold-webfont.woff") format("woff"), url("adellesans-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
.index-title {
  text-transform: uppercase;
  margin: 1.3rem; }

.button, .get-started-button, .find-location-button, .choose-location-button, .times-button {
  font-family: knockout, sans-serif;
  font-family: "knockout" !important;
  display: inline-block;
  color: #FFFFFF !important;
  background: #000000 !important;
  box-shadow: -5px 5px #ED1C24;
  border: none;
  border-radius: 0px !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  padding: 0.25rem !important; }

.location-container {
  height: 120px;
  margin: 25px;
  border-radius: 0.6rem; }

.choose-location-button {
  background-size: cover;
  margin-top: 30px; }

@font-face {
  font-family: knockout;
  src: url("/fonts/knockout-htf29-juniorliteweight.woff") format("woff"), url("/fonts/knockout-htf29-juniorliteweight.eot") format("eot"), url("/fonts/knockout-htf29-juniorliteweight.ttf") format("ttf"), url("/fonts/knockout-htf29-juniorliteweight.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: lft-etica;
  src: url("/fonts/lft_etica_webfont.eot");
  src: url("/fonts/lft_etica_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/lft_etica_webfont.woff") format("woff"), url("/fonts/lft_etica_webfont.ttf") format("truetype"), url("/fonts/lft_etica_webfont.svg#lft_etica") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("/fonts/adellesans_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/adellesans_webfont.woff") format("woff"), url("/fonts/adellesans_webfont.ttf") format("truetype"), url("/fonts/adellesans_webfont.svg#adellesans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("adellesans-bold-webfont.woff2") format("woff2"), url("adellesans-bold-webfont.woff") format("woff"), url("adellesans-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
.index-title {
  text-transform: uppercase;
  margin: 1.3rem; }

.button, .get-started-button, .find-location-button, .choose-location-button, .times-button {
  font-family: knockout, sans-serif;
  font-family: "knockout" !important;
  display: inline-block;
  color: #FFFFFF !important;
  background: #000000 !important;
  box-shadow: -5px 5px #ED1C24;
  border: none;
  border-radius: 0px !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  padding: 0.25rem !important; }

.times-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #373a3c; }
  .times-container p {
    width: 100%; }

.times-button {
  margin: 25px; }

@font-face {
  font-family: knockout;
  src: url("/fonts/knockout-htf29-juniorliteweight.woff") format("woff"), url("/fonts/knockout-htf29-juniorliteweight.eot") format("eot"), url("/fonts/knockout-htf29-juniorliteweight.ttf") format("ttf"), url("/fonts/knockout-htf29-juniorliteweight.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: lft-etica;
  src: url("/fonts/lft_etica_webfont.eot");
  src: url("/fonts/lft_etica_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/lft_etica_webfont.woff") format("woff"), url("/fonts/lft_etica_webfont.ttf") format("truetype"), url("/fonts/lft_etica_webfont.svg#lft_etica") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("/fonts/adellesans_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/adellesans_webfont.woff") format("woff"), url("/fonts/adellesans_webfont.ttf") format("truetype"), url("/fonts/adellesans_webfont.svg#adellesans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: adellesans;
  src: url("adellesans-bold-webfont.woff2") format("woff2"), url("adellesans-bold-webfont.woff") format("woff"), url("adellesans-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
.index-title {
  text-transform: uppercase;
  margin: 1.3rem; }

.button, .get-started-button, .find-location-button, .choose-location-button, .times-button {
  font-family: knockout, sans-serif;
  font-family: "knockout" !important;
  display: inline-block;
  color: #FFFFFF !important;
  background: #000000 !important;
  box-shadow: -5px 5px #ED1C24;
  border: none;
  border-radius: 0px !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  padding: 0.25rem !important; }

.summary-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #373a3c; }
  .summary-container p {
    width: 100%; }

.confirmation-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #373a3c; }
  .confirmation-container p {
    width: 100%; }
  .confirmation-container a {
    color: #ED1C24; }

html {
  font-size: 20px; }

body {
  background-color: #FFFFFF;
  color: #373a3c;
  font-family: adellesans, sans-serif;
  margin: 0;
  text-align: center;
  padding-bottom: 1rem; }

a {
  text-decoration: none; }

body h1, h2, h3, h4, h5 {
  font-family: lft-etica, sans-serif;
  font-weight: 500; }

input {
  color: #ED1C24;
  border: 2px solid #ED1C24;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  display: inline-block;
  clear: both;
  margin-bottom: 20px; }
  input ::-webkit-input-placeholder {
    color: #ED1C24;
    opacity: 0.5; }
  input :-moz-placeholder {
    color: #ED1C24;
    opacity: 0.5; }
  input ::-moz-placeholder {
    color: #ED1C24;
    opacity: 0.5; }
  input :-ms-input-placeholder {
    color: #ED1C24;
    opacity: 0.5; }

/*# sourceMappingURL=master.css.map */
